.avatar {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    user-select: none;
    color: white;
    overflow: hidden; /* Para que la imagen no se salga si hay bordes */
    flex-shrink: 0;   /* Evita que se aplaste */
  }
  
  .image {
    border-radius: 50%;
    object-fit: cover;
  }