.container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-secondary);
  }
  .card {
    max-width: 400px;
    background: var(--color-bg-primary);
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    border: 1px solid var(--color-danger-500); /* Borde rojo */
  }
  .title { 
    color: var(--color-danger-500); 
    margin-bottom: 1rem; 
    font-weight: bold; 
    font-size: 1.25rem;
  }
  .message {
    margin-bottom: 1.5rem;
    color: var(--color-text-primary);
  }
  .link {
    text-decoration: none;
  }